// colors
$main-blue: #0896f5;
$dark-blue: #1070CA;
$darkest-blue: #2D64AD;
$alt-blue: #2f80ed;
$lightest-blue: #e8f0fb;

$main-gray: #66788a;
$lightest-gray: #e4e7eb;
$light-gray: #9ea0a5;
$dark-gray: #3a3b3f;

$main-green: #47b881;

$main-orange: #ffc107;

$main-red: #dc3545;

// variables
$box: 3px 3px 7px 2px $lightest-gray;
$radius: 4px;
